@{
    ViewData["Title"] = "Home";
}

<div class="hero-section d-flex flex-column justify-content-center align-items-center text-center">
   <h1 class="display-4 fw-bold fade-in" style="color:black;">Welcome to MediCare Pvt Ltd</h1>

    <p class="lead fade-in" style="color:black;">Your trusted partner for quality healthcare appointments and prescriptions.</p>
    <a class="btn btn-light mt-3 fade-in" asp-controller="Appointments" asp-action="Create">
        <i class="bi bi-calendar-plus"></i> Book an Appointment
    </a>
</div>

<section class="text-center mt-5">
    <h2>Our Services</h2>
    <p>Book doctor appointments, manage prescriptions, and view your payments — all in one place.</p>
</section>
